Repository onvif/specs, pull requests merged in 2020-09, with the labels that each got.

#15 Update Analytics.xml
  doc/Analytics.xml
Labels: Analytics

#21 Handling of optional parameters
  doc/Analytics.xml
  wsdl/ver20/analytics/wsdl/analytics.wsdl
Labels: Analytics

#22 Apply Geolocation event correction #6
  doc/Core.xml
Labels: General Core

#23 Fix for Content Filter Support #2
  doc/Media2.xml
  wsdl/ver10/schema/onvif.xsd
Labels: Media2

#25 Multiple VehicleInfo classifications
  wsdl/ver10/schema/metadatastream.xsd
Labels: Analytics

#24 Related to #3: Make potentially large element item optional.
  doc/RecordingControl.xml
Labels: Recording Control

#26 Fix for onvif-ext 2088: Support for media service without video encoder.
  doc/Media2.xml
Labels: Media2

#28 Issue 27 fixedrulesfault
  README.md
  doc/Analytics.xml
Labels: Analytics
