Repository onvif/specs, pull requests merged in 2020-10, with the labels that each got.

#20 Consolidate wsdl framework sections 5.6 to 5.10
  doc/Core.xml
Labels: General Core

#30 Insert Message Broker section and capabilities according to 20.06 release.
  doc/Core.xml
Labels: General Core

#35 Correct namespace prefix in example
  doc/Analytics.xml
Labels: Analytics, bug, hacktoberfest-accepted

#36 Correct swapped top and bottom coordinates in examples
  doc/Analytics.xml
Labels: Analytics, bug, hacktoberfest-accepted

#37 Correct illegal attribute syntax in examples
  doc/Analytics.xml
Labels: Analytics, bug, hacktoberfest-accepted

#31 Add maxOccurs parameter for generic array support.
  doc/Analytics.xml
  wsdl/ver20/analytics/wsdl/analytics.wsdl
Labels: Analytics, hacktoberfest-accepted

#39 Improve layout of connection mode definition. Change respective infor…
  doc/Receiver.xml
Labels: Receiver, hacktoberfest-accepted

#41 Improve requirement for GetReplayUri.
  doc/Replay.xml
  wsdl/ver10/replay.wsdl
Labels: hacktoberfest-accepted
